@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    position: relative;
    top: 25vh;
    left: 15vw;

    min-width: 300px;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box1 {
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: 20px;
}

.box2 {
    font-weight: bolder;
    font-size: 6rem;
    margin-bottom: 20px;
}

.box3 {
    max-width: fit-content;
    font-size: 1rem;
}

.btn {
    font-size: .8rem;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: black;
    color: aliceblue;
    text-transform: uppercase;
}